.form-group {
	margin: 15px 10px;
}

.form-group label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-control {
	width: 100%;
	min-height: 31px;
	color: #555;
	padding: 5px 10px;
	border: 1px solid #ccc;
}

.form-control.sm {
	min-height: 27px !important;
	padding: 3px 6px !important;
}

.form-control.xs {
	min-height: 23px !important;
	padding: 1px 2px !important;
}

a {
	color: #3c8dbc;
	line-height: 1.5em;
}

a:focus, a:hover {
	color: #72afd2;
}

a.order_by, a.order_by:focus, a.order_by:hover {
	color: #444;
	line-height: 1.5em;
	text-decoration: underline;
}

input[type="checkbox"], input[type="radio"] {
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-right: 5px;
}

input[type="text"]:disabled, select:disabled {
	background: #dddddd;
}